#login_usr {
    background: transparent;
    border: 0px solid;
    box-shadow: none;
    font-family: 'Open Sans';
    color: rgb(51, 50, 50);
    outline: none;
}

#login_pwd {
    background: transparent;
    border: 0px solid;
    box-shadow: none;
    font-family: 'Open Sans';
    color: rgb(51, 50, 50);
}

#login_btn {
    font-family: 'Open Sans';
    font-weight: bold;
}
#btn_ui{
    border: 0px solid;
    font-size: 20px;
    
    color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 0px;
  
}
#btn_ui:hover{
    border: 0px solid;
    font-size: 20px;
    color: rgb(61, 61, 61);
    box-shadow: none;
    border-radius: 0px;
}
#label_status{
    color: rgb(31, 31, 31);
    font-size: 16px;
}
#btn_save{
    background-color: rgb(36, 173, 36);
    color:white;
    border-radius: 0px;

}
#leave_btn{
    
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 0;
    box-shadow: none;

  }
#leave_btn:hover{
    
    background-color: #e02721;
    border: none;
    color: rgb(216, 212, 212);
    font-size: 20px;
    border-radius: 0;

}
#spinner {
    color: #ffd166;
}