#admin_main_btn{
    background:transparent;
    color: white;
    border: 3px rgb(21, 182, 182) solid;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
   
}
#admin_main_btn:hover{
    border: 0px solid;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 0px;
    background-color: rgb(9, 194, 201);
    
}
#course_table_btn{
    background-color: red;
}
#btn_back{
    background-color: transparent;
    border: 0px solid;
    font-size: 15px;
    box-shadow: none;
    border-left: 5px solid rgb(214, 211, 211);
}
#btn_back:hover{
    background-color: rgb(9, 194, 201);
    border: 0px solid;
    font-size: 15px;
    box-shadow: none;
    border-radius: 0px;;
}