#admin_main_btn{
    background:transparent;
    color: white;
    border: 3px rgb(21, 182, 182) solid;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
   
}
#admin_main_btn:hover{
    border: 0px solid;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 0px;
    background-color: rgb(9, 194, 201);
    
}
#course_table_btn{

    background-color: transparent;
	color: white;
	border-radius: 0px;
	box-shadow: 2px;
	border-bottom: 2px;
	font-size:15px;
    
}
#admin_table_header{
	color: white;
	font-size:15px;
}
#st_value{
	color: white;
	font-size: 18px;
}
